// Styles for RD Social Icon Pack
// Using Base64 encoding
.social-icon {
    display: block;
    min-width: 24px;
    min-height: 24px;
    border-radius: 3px;
}

.-linkedin {
    background-image: url('');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}
