// Style for Tool Tabs

// Tab Geral
a.linkedin-btn {
    background: hsl(201, 100%, 35%);
    padding: 0 0.95rem;
    margin-bottom: 2rem;
    font: normal 400 16px/2.5 'Open Sans';
    color: #fff !important;
    border-radius: 3px;
    border-bottom: 3px solid hsl(201, 100%, 28%);
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:before {
        display: inline-block;
        position: relative;
        height: calc(2.5rem + 3px);
        font: normal 300 18px/2.5 'Fontawesome';
        color: #fff !important;
        padding-right: 1rem;
        border-right: 1px solid hsl(201, 100%, 28%);
        margin-right: 1rem;
    }

    &:before:hover {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        background: hsl(201, 100%, 33%);
    }
}

.add-custom-field {
    display: block;
    margin-top: 2rem;
    text-align: right;
}

// Tab Social
.social-icon-list {
    & a.social-icon {
        display: inline-block;
    }
}
.social-logo {
    & img.social-icon {
    margin-right: 0.5rem;
    }
}
.drag-to-order {
    margin: 1rem 0;
}
i.fa-close {
    position: relative;
    left: -1.5rem;
    opacity: .4;
    cursor: pointer;
}
span.fa-sort {
    cursor: ns-resize;
}