.preview-header {
  margin-top: 42px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: $main-color;
  border-radius: 0.25rem 0.25rem 0 0;
  & p {
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
  }
}

.preview-body {
  background: #fff;
  padding-top: 0.75rem;
  border-radius: 0 0 .25rem .25rem;
  border: 1px solid;
  border-color: transparent #dee2e6 #dee2e6 #dee2e6;
  margin-bottom: 24px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  & p {
    margin-bottom: 0;
    font: normal 300 14px/1.5 'Open Sans';
    & span {
      color: rgba(40, 40, 40, .40);
      margin-left: 0.5rem;
    }
  }
  p.email-body {
    font: normal 300 14px/2 'Open Sans';
    color: rgba(40, 40, 40, .30);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.signature-wrapper {
  min-height: 250px;
}

.save-time {
  opacity: .3;
}
